body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-one,
.header,
.footer  {
    background-color: #1F2937;
}

.header,
.footer,
.box-one, 
.box-two,
.box-three,
.box-four {
    padding: 16px 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}

.box-one {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box-one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0;
    padding-right: 50px;
    align-items:;
}

.box-one-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 0;
}

.box-one-subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 8px;
    padding-bottom: 8px;
}

.box-one-right {
    flex: 1;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

button,
.button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 36px;
    width: 120px;
    padding: 5px 36px;
    border-radius: 8px;
    border-style: none;
    
}

.box-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.box-two-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 50px; 
}

.box-two-container {
    display: flex;
    justify-content: space-evenly;
}

.box-two-square {
    height: 160px;
    width: 160px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.square-text {
    display: flex;
    flex: 0;
    max-width: 163px;  /* find a way to not have to use max-width */
}

.box-two-box-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-three {
    display: flex;
    background-color: #E5E7EB;
}

.box-four {
    display: flex;
}

.footer {
    text-align: center;
    color:#F9FAF8;
}